<div id="Wrapper">
  <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
    <header id="Header">
      <div id="Top_bar">
        <div class="container">
          <div class="column one">
            <div class="top_bar_left clearfix">
              <div class="logo">
                <a id="logo" routerLink="" title="BeLawyer 4 - BeTheme" data-height="60" data-padding="40"><img
                    class="logo-main scale-with-grid" src="../../../assets/images/lawyer4.png"
                    data-retina="../../../assets/images/retina-lawyer4.png" data-height="40" alt="lawyer4"><img
                    class="logo-sticky scale-with-grid" src="../../../assets/images/lawyer4.png"
                    data-retina="../../../assets/images/retina-lawyer4.png" data-height="40" alt="lawyer4"><img
                    class="logo-mobile scale-with-grid" src="../../../assets/images/lawyer4.png"
                    data-retina="../../../assets/images/retina-lawyer4.png" data-height="40" alt="lawyer4"><img
                    class="logo-mobile-sticky scale-with-grid" src="../../../assets/images/lawyer4.png"
                    data-retina="../../../assets/images/retina-lawyer4.png" data-height="40" alt="lawyer4"></a>
              </div>
              <div class="menu_wrapper">
                <nav id="menu">
                  <ul id="menu-main-menu" class="menu menu-main">
                    <li>
                      <a routerLink=""><span>Home</span></a>
                    </li>
                    <li class="current-menu-item">
                      <a routerLink="../about"><span>About us</span></a>
                    </li>
                    <li>
                      <a routerLink="../services"><span>Services</span></a>
                    </li>
                    <li>
                      <a routerLink="../team"><span>Team</span></a>
                    </li>
                    <li>
                      <a routerLink="../contact"><span>Contact</span></a>
                    </li>

                  </ul>
                </nav>
                <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="Subheader" style="padding:280px 0 90px">
      <div class="container">
        <div class="column one">
          <h1 class="title">About us</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="Content">
    <div class="content_wrapper clearfix">
      <div class="sections_group">
        <div class="entry-content">
          <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h1>Lorem ipsum dolor sit
                        <br> adipiscing elit</h1>
                      <hr class="no_line" style="margin:0 auto 40px">
                      <h4>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus</h4>
                    </div>
                  </div>
                  <div class="column mcb-column three-fourth column_column">
                    <div class="column_attr clearfix">
                      <p>
                        Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio. Fusce
                        lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue,
                        fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna
                        non ante blandit lobortis. Sed mollis consequat eleifend. Aliquam consectetur orci eget dictum
                        tristique. Aenean et sodales est, ut vestibulum lorem.
                      </p>
                    </div>
                  </div>
                  <div class="column mcb-column one column_divider">
                    <hr class="no_line" style="margin:0 auto 25px">
                  </div>
                  <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                      <div class="image_wrapper">
                        <img class="scale-with-grid" src="../../../assets/images/home_lawyer4_pic18.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="column mcb-column one column_divider">
                    <hr class="no_line" style="margin:0 auto 60px">
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 5% 0 0">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h2>We specialise in solving problems</h2>
                      <hr class="no_line" style="margin:0 auto 40px">
                      <p>
                        Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum
                        sollicitudin feugiat. Curabitur ut egestas justo, vitae molestie ante. Integer magna purus,
                        commodo in diam nec, pretium auctor sapien. In pulvinar, ipsum
                        eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa.
                      </p>
                      <p>
                        Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in
                        ligula.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second column-margin-0px valign-top clearfix"
                style="padding:350px 50px 0; background-image:url(../../../assets/images/home_lawyer4_pic11.jpg); background-repeat:no-repeat; background-position:center top">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix align_right">
                      <h2 style="color:#fff">Any question?</h2>
                      <hr class="no_line" style="margin:0 auto 20px">
                      <div class="image_frame image_item scale-with-grid no_border hover-disable">
                        <div class="image_wrapper">
                          <a routerLink="../contact">
                            <img class="scale-with-grid" src="../../../assets/images/home_lawyer4_pic8.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one valign-top clearfix">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_divider">
                    <hr class="no_line" style="margin:0 auto 80px">
                  </div>
                  <div class="column mcb-column one-third column_placeholder">
                    <div class="placeholder">
                      &nbsp;
                    </div>
                  </div>
                  <div class="column mcb-column one-third column_button">
                    <a class="button button_full_width button_size_2 button_js" routerLink="../services"><span
                        class="button_label">Our services</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section equal-height-wrap"
            style="padding-top:50px; padding-bottom:80px; background-color:#f5f4ef; background-image:url(../../../assets/images/home_lawyer4_sectionbg3.png); background-repeat:no-repeat; background-position:center top">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 5% 0 0">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix">
                      <h6>VIDEO</h6>
                      <hr class="no_line" style="margin:0 auto 60px">
                      <h2>Free
                        <br> 30-minutes
                        <br> consultation
                      </h2>
                      <hr class="no_line" style="margin:0 auto 30px">
                      <a class="button button_size_2 button_js" routerLink="../services"><span class="button_label">Read
                          more</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one-second valign-middle clearfix">
                <div class="mcb-wrap-inner">
                  <div class="column mcb-column one column_hover_box">
                    <div class="hover_box">
                      <a href="https://vimeo.com/58010546" rel="prettyphoto">
                        <div class="hover_box_wrapper">
                          <img class="visible_photo scale-with-grid" src="../../../assets/images/home_lawyer4_pic1.png">
                          <img class="hidden_photo scale-with-grid" src="../../../assets/images/home_lawyer4_pic2.png">
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer id="Footer" class="clearfix">
    <div class="widgets_wrapper" style="padding:70px 0">
      <div class="container">
        <div class="column one-fourth">
          <aside class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                <div class="image_wrapper">
                  <img class="scale-with-grid" src="../../../assets/images/home_lawyer4_pic12.png">
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="column one-fourth">
          <aside class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <p>
                Level 13, 2 Elizabeth St,
                <br> Melbourne, Victoria 3000,
                <br> Australia
              </p>
            </div>
          </aside>
        </div>
        <div class="column one-fourth">
          <aside class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <p>
                <a href="#">Facebook</a>
                <br>
                <a href="#">Twitter</a>
              </p>
            </div>
          </aside>
        </div>
        <div class="column one-fourth">
          <aside class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <div style="text-align: right;">
                <h4 style="margin-bottom: 0;">Consultation</h4>
                <h3 class="themecolor">+61 (0) 3 8376 6284</h3>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <div class="footer_copy">
      <div class="container">
        <div class="column one">
          <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
          <div class="copyright">
            &copy; 2018 BeLawyer 4 - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow"
              href="http://bit.ly/1M6lijQ">BeantownThemes</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- side menu -->
<div id="Side_slide" class="right dark" data-width="250">
  <div class="close-wrapper">
    <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
  </div>
  <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>
